@use "utils/variables" as v;

@for $i from 1 through 6 {
    h#{$i} {
      font-family: v.$fontHeader;
    }
  }

h1 {
    font-size: v.$h1;
  }
  
  h2 {
    font-size: v.$h2;
  }
  
  h3 {
    font-size: v.$h3;
  }
  
  h4 {
    font-size: v.$h4;
  }
  
  h5 {
    font-size: v.$h5;
  }
  
  h6 {
    font-size: v.$h6;
  }
  
  p {
    font-size: v.$p;
  }
  
  small {
    font-size: v.$small;
  }