@use "../utils/variables" as v;

.postDate {  
  @media only screen and (min-width: v.$breakLarge) {
    float:right;
  }
  @media screen and (max-width: 680px) {
    //content: "\A\A";
    visibility: hidden;
  }
  color: v.$white;
}

.postTitle {
  display: block;
  @media only screen and (min-width: v.$breakLarge) {
    min-width: v.$width * 0.8;
  }

  &::first-letter {
    text-decoration: underline;
    text-decoration-color: v.$electric-blue;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-color: v.$electric-blue;
  }
  text-decoration: none;
  text-transform: capitalize;
  font-family: v.$fontHeader;
  font-size: v.$h5;
  float: left;
 
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
  min-width: 100%;
}

.postListItem {
  padding: 20px;
  background-color: v.$black;
  margin-bottom: 20px;
}

.postListLink:hover {
  text-decoration: none;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: v.$white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}


