@use "../utils/variables" as v;

.content {
  text-align: start;
  flex: 1 auto;
  display: flex;
  justify-content: center;
  @media screen and (max-width: v.$breakLarge) {
    padding: 0 20px;    
  }
  //width: 100%;
}

.content img {
  max-width: 100%;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  min-height: 100vh;
  flex: 1 auto;
}

main {
  height: 100%;
  @media only screen and (min-width: v.$breakLarge) {
    width: v.$width;
  }

  @media screen and (max-width: v.$breakLarge) {
    width: 100%;    
  }
}
