@use "utils/variables" as v;

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexHeader {
    font-size: 3em;
}

.subtitle {
    font-family: v.$fontSubHeader;
}